{{- partial "head" . -}}

<body>

{{- partial "navbar" . -}}

{{- partial "sidebar" . -}}

    <div class="container">
        <div class="content">
            <div class="row ">
                <div class="column column-10"></div>
                <div class="column document">
                    {{ range where .Site.Pages "Type" "index" }}
                    <section class="document">
                        <h1 class="title">{{ .Title }}</h1>
                        <p>{{.Content}}</p>
                    </section>
                    {{ end }}
                </div>
                <div class="column column-10"></div>
            </div>
        </div>
    </div>

{{ partial "footer" . }}

</body>
