.env
.envrc
bin
_out
.vscode
*.code-workspace
init.yaml
controlplane.yaml
join.yaml
docgen
talosconfig
/kubeconfig
hack/test/libvirt/matchbox/assets/*
!hack/test/libvirt/matchbox/assets/.gitkeep

# vim Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Go
.artifacts/

sha256sum.txt
sha512sum.txt

**/packet-cluster.yaml

# Local Netlify folder
.netlify
