go 1.26.7

use (
	.
	./pkg/machinery
	./tools
	./tools/cloud-image-uploader
	./tools/docgen
	./tools/gotagsrewrite
	./tools/kubeimportlinter
	./tools/labeled-squashfs
	./tools/loglinter
	./tools/redactgen
	./tools/sbom-builder
	./tools/structprotogen
)
