/* purgecss start ignore */

@import url('@/assets/css/navigation.css');
@import url('@/assets/css/prism-ghcolors.css');
@import url('@/assets/css/asciinema-player.css');

body {
  overflow-x: hidden;
}

body {
  @apply font-sans text-gray-800;
}

main {
  @apply font-sans;
}

.page-heading {
  @apply font-headings text-5xl mb-8 leading-tight;
}

body {
  @apply flex flex-col min-h-screen;
}

.c-rich-text a {
  color: #1a76c1;
}

.c-rich-text a:hover {
  @apply text-gray-900 no-underline;
}

.c-rich-text ul {
  @apply mb-4 list-outside pl-8;
}

.c-rich-text ol {
  @apply list-outside pl-4;
}

pre {
  background: #f4f5f6;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  margin: 1.5em;
  padding: 0.5em;
  overflow-x: auto;
}

code {
  border-style: none;
  border-width: 0.5px;
  border-radius: 5px;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply font-mono;
}

h1,
h2,
h3,
h4,
h5 {
  @apply .my-4;
}

p {
  @apply .mb-4;
}
p a:link,
p a:active,
p a:visited {
  /* This blue has a 4.77 contrast ratio on white 4.56 on near-white */
  color: #1a76c1;
}
p a:hover {
  color: #12283a;
}

.header-anchor {
  @apply text-sm hidden align-top;
}

h2:hover > a.header-anchor, h3:hover > a.header-anchor, h4:hover > a.header-anchor {
  @apply inline;
}

/*
  This hack is from https://css-tricks.com/hash-tag-links-padding/.
  Usually when you click on an anchor link, the page content is scrolled
  up so that the anchor link is at the top of the screen. But since we
  have a sticky header, we have to add a "fake" 100px to the header, so that
  the scroll lands with the header visible. 🤷‍♂️
*/

h1::before, h2::before, h3::before, h4::before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

.teal-cta-button {
  @apply bg-logo-teal text-white font-bold py-2 px-4 rounded;
}

.teal-cta-button:hover {
  @apply bg-logo-teal-darker;
}
/* purgecss end ignore */