header {
  @apply bg-white px-6 border-b z-50;
}

header .site-title {
  @apply font-brand text-3xl text-primary-color-600 leading-tight;
}

nav[aria-label='main'] div {
  @apply font-brand text-base flex flex-wrap items-center inline-block mr-8;
}
nav[aria-label='main'] .tnd-Nav__item {
  @apply block;
}

nav[aria-label='main'] .tnd-Nav__item a {
  @apply text-primary-color-700 mt-4 mb-2 text-xl inline-block border-b-2 border-white;
}

nav[aria-label='main'] .tnd-Nav__item--active a,
nav[aria-label='main'] .tnd-Nav__item a:hover {
  @apply text-primary-color-700 border-b-2 border-primary-color-700;
}

nav[aria-label='footer'] {
  @apply ml-8;
}
nav[aria-label='footer'],
nav[aria-label='footer'] .tnd-Nav__item {
  @apply inline-block px-4;
}

nav[aria-label='main'] {
  @apply mb-4;
}
@screen md {
  nav[aria-label='main'] {
    @apply mb-auto;
  }
}
@screen lg {
  nav[aria-label='main'] .tnd-Nav__item {
    @apply inline-block;
  }

  nav[aria-label='main'] {
    @apply block;
  }
  header {
    @apply sticky top-0;
  }

  nav[aria-label='main'] .tnd-Nav__item a {
    @apply mb-auto mt-auto;
  }
}

#header-logo {
  height: 70px;
}

header {
  @apply font-headings;
  font-size: 18px;
}

.dropdown-menu {
  width: auto;
  display: none;
  height: 0px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#dropdown-caret {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.dropdown:hover #dropdown-caret {
  transform: rotateX(180deg);
}

.dropdown:hover .dropdown-menu {
  display: block;
  height: auto;
}
