SUBSYSTEM=="block",SECLABEL{selinux}="system_u:object_r:block_device_t:s0"
SUBSYSTEM=="hidraw",SECLABEL{selinux}="system_u:object_r:hidraw_device_t:s0"
SUBSYSTEM=="tty",SECLABEL{selinux}="system_u:object_r:tty_device_t:s0"
SUBSYSTEM=="rtc",SECLABEL{selinux}="system_u:object_r:rtc_device_t:s0"
SUBSYSTEM=="mtd",SECLABEL{selinux}="system_u:object_r:mtd_device_t:s0"
KERNEL=="watchdog",SECLABEL{selinux}="system_u:object_r:wdt_device_t:s0"
KERNEL=="watchdog*",SECLABEL{selinux}="system_u:object_r:wdt_device_t:s0"
SUBSYSTEM=="misc",SECLABEL{selinux}="system_u:object_r:misc_device_t:s0"
SUBSYSTEM=="tpm",SECLABEL{selinux}="system_u:object_r:tpm_device_t:s0"
SUBSYSTEM=="tpmrm",SECLABEL{selinux}="system_u:object_r:tpm_device_t:s0"
SUBSYSTEM=="drm",SECLABEL{selinux}="system_u:object_r:drm_device_t:s0"
SUBSYSTEM=="drm_dp_aux_dev",SECLABEL{selinux}="system_u:object_r:drm_device_t:s0"
KERNEL=="tun",SECLABEL{selinux}="system_u:object_r:tun_device_t:s0"
SUBSYSTEM=="video4linux",SECLABEL{selinux}="system_u:object_r:v4l_device_t:s0"
