:root {
    --main-color: #86929d;
    --secondary-color: #606c76;
    --tertiary-color: #3e454c;
    --main-highlight-color: #448FB0;
    --secondary-highlight-color: #74b8d6;
    --search-results-color: #f4f5f6;
    --menu-color: white;
}
