# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "siderolabs/talos"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.2.0"

pre_release = true

preface = """\
"""

[notes]

    [notes.kernel_modules]
        title = "Kernel Modules"
        description = """\
Talos now supports settings kernel module parameters.

Eg:

```yaml
machine:
  kernel:
    modules:
      - name: "br_netfilter"
        parameters:
          - nf_conntrack_max=131072
```
"""

    [notes.sbc]
        title = "Nano Pi R4S"
        description = """\
Talos now supports the Nano Pi R4S SBC.
"""

    [notes.sbc1]
        title = "Raspberry Generic Images"
        description = """\
The Raspberry Pi 4 specific image has been deprecated and will be removed in the v1.4 release of Talos.
Talos now ships a generic Raspberry Pi image that should support more Raspberry Pi variants.
Refer to the docs at https://www.talos.dev/v1.3/talos-guides/install/single-board-computers/rpi_generic/ to find which ones are supported.
"""

    [notes.updates]
        title = "Component Updates"
        description="""\
* Kubernetes: v1.26.0
* Flannel: v0.20.2
* CoreDNS: v1.10.0
* etcd: v3.5.6
* Linux: 5.15.81
* containerd: v1.6.10

Talos is built with Go 1.19.3.
"""

    [notes.etcd]
        title = "etcd Consistency Check"
        description="""\
Talos enables [--experimental-compact-hash-check-enabled](https://github.com/etcd-io/etcd/pull/14120) option by default to improve
etcd store consistency guarantees.

This options is only available with etcd >= v3.5.5, so Talos doesn't support version of etcd before v3.5.5.
"""

    [notes.auditpolicy]
        title = "kube-apiserver Audit Policy"
        description="""\
Talos now supports setting custom audit policy for `kube-apiserver` in the machine configuration.
"""

    [notes.routes]
        title = "Routes"
        description="""\
Talos now supports setting MTU for a specific route.
"""

    [notes.cmdline]
        title = "Kernel Command Line ip= Argument"
        description="""\
Talos now supports referencing interface name via `enxMAC` address notation:

```
ip=172.20.0.2::172.20.0.1:255.255.255.0::enx7085c2dfbc59
```
"""

    [notes.kubespan]
        title = "KubeSpan"
        description="""\
KubeSpan MTU link size is now configurable via `network.kubespan.mtu` setting in the machine configuration.
"""

    [notes.static_pod_manifests]
        title = "Static Pod Manifests"
        description = """\
The directory "/etc/kubernetes/manifests" is now deprecated.
Static pods should always be configured in machine.pods.
To reenable support you may set `machine.kubelet.disableManifestsDirectory`.

Eg:

```yaml
machine:
  kubelet:
    disableManifestsDirectory: no
```
"""

    [notes.secretbox]
        title = "Encryption with secretbox"
        description = """\
By default new clusters will use secretbox for encryption instead of AESCBC.
If both are configured secretbox will take precedence.
Old clusters may keep using AESCBC.
To enable secretbox you may add an encryption secret at `cluster.secretboxEncryptionSecret`.
You should keep `aescbcEncryptionSecret` however, even if secretbox is enabled older data will still be encrypted with AESCBC.

How to generate the secret:

```bash
dd if=/dev/random of=/dev/stdout bs=32 count=1 | base64
```
"""

    [notes.exoscale]
        title = "Exocale Platform"
        description = """\
Talos now supports new platform: Exoscale.

Exoscale provides a firewall, TCP load balancer and autoscale groups.
It works well with CCM and Kubernetes node autoscaler.
"""

    [notes.etcd-member-id]
        title = "etcd Member ID"
        description = """\
Talos now internally handles etcd member removal by member ID instead of member name (hostname).
This resolves the case when member name is not accurate or empty (eg: when etcd hasn't fully joined yet).

Command `talosctl etcd remove-member` now accepts member IDs instead of member names.

New resource can be used to get member ID of the Talos node:

```bash
talosctl get etcdmember
```
"""

    [notes.cgroupsv1]
        title = "cgroups v1"
        description = """\
Talos defaults to using cgroups v2 when Talos doesn't run in a container (when running in a container
Talos follows host cgroups mode).
Talos can now be forced to use cgroups v1 by setting boot kernel argument `talos.unified_cgroup_hierarchy=0`:

```yaml
machine:
  install:
    extraKernelArgs:
      - "talos.unified_cgroup_hierarchy=0"
```

Current cgroups mode can be checked with `talosctl ls /sys/fs/cgroup`:

cgroups v1:

```
blkio
cpu
cpuacct
cpuset
devices
freezer
hugetlb
memory
net_cls
net_prio
perf_event
pids
```

cgroups v2:

```
cgroup.controllers
cgroup.max.depth
cgroup.max.descendants
cgroup.procs
cgroup.stat
cgroup.subtree_control
cgroup.threads
cpu.stat
cpuset.cpus.effective
cpuset.mems.effective
init
io.stat
kubepods
memory.numa_stat
memory.stat
podruntime
system
```

> Note: `cgroupsv1` is deprecated and it should be used only for compatibility with workloads which don't support `cgroupsv2` yet.
"""

    [notes.nodelabels]
        title = "Node Labels"
        description = """\
Talos now supports specifying node labels in the machine configuration:

```yaml
machine:
  nodeLabels:
    rack: rack1a
    zone: us-east-1a
```

Changes to the node labels will be applied immediately without `kubelet` restart.

Talos keeps track of the owned node labels in the `talos.dev/owned-labels` annotation.
"""

    [notes.criconfig]
        title = "CRI Configuration Overrides"
        description = """\
Talos no longer supports CRI config overrides placed in `/var/cri/conf.d` directory.

[New way](https://www.talos.dev/v1.3/talos-guides/configuration/containerd/) correctly handles merging of containerd/CRI plugin configuration.
"""

    [notes.registry_k8s_io]
        title = "registry.k8s.io"
        description = """\
Talos now uses `registry.k8s.io` instead of `k8s.gcr.io` for Kubernetes container images.

See [Kubernetes documentation](https://kubernetes.io/blog/2022/11/28/registry-k8s-io-faster-cheaper-ga/) for additional details.

If using registry mirrors, or in air-gapped installations you may need to update your configuration.
"""

    [notes.talosctl_machineconfig_patch]
        title = "talosctl machineconfig patch"
        description = """\
A new subcommand, `machineconfig patch` is added to `talosctl` to allow patching of machine configuration.

It accepts a machineconfig file and a list of patches as input and outputs the patched machine configuration.

Patches can be sourced from the command line or from a file. Output can be written to a file or to stdout.

Example:

```bash
talosctl machineconfig patch controlplane.yaml \
  --patch '[{"op":"replace","path":"/cluster/clusterName","value":"patch1"}]' \
  --patch @/path/to/patch2.json
```

Additionally, `talosctl machineconfig gen` subcommand is introduced as an alias to `talosctl gen config`.
"""

    [notes.registry-mirrors]
        title = "Registry Mirrors"
        description = """\
Talos had an inconsistency in the way registry mirror endpoints are handled when compared with `containerd` implementation:

```yaml
machine:
    registries:
        mirrors:
            docker.io:
                endpoints:
                    - "https://mirror-registry/v2/mirror.docker.io"
```

Talos would use endpoint `https://mirror-registry/v2/mirror.docker.io`, while `containerd` would use `https://mirror-registry/v2/mirror.docker.io/v2`.
This inconsistency is now fixed, and Talos uses same endpoint as `containerd`.

New `overridePath` configuration is introduced to skip appending `/v2` both on Talos and containerd side:

```yaml
machine:
    registries:
        mirrors:
            docker.io:
                endpoints:
                    - "https://mirror-registry/v2/mirror.docker.io"
                overridePath: true
```
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"

    [make_deps.extras]
        variable = "EXTRAS"
        repository = "github.com/siderolabs/extras"
