# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "siderolabs/talos"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"

# previous release
previous = "v1.0.0"

pre_release = true

preface = """\
"""

[notes]

    [notes.sbc-rpi4]
        title = "Raspberry Pi PoE hat fan"
        description = """\
Talos now enables the Raspberry Pi PoE fan control by pulling in the poe overlay that works with upstream kernel
"""

    [notes.updates]
        title = "Component Updates"
        description="""\
* Linux: 5.15.38
* Containerd: v1.6.4
* Kubernetes: 1.24.0
* Flannel: 0.17.0
* runc: 1.1.1
* CoreDNS: v1.9.2

Talos is built with Go 1.18.1.
"""

    [notes.eudev]
        title = "drop some default rules shipped by eudev"
        description = """\
Drops some default eudev rules that doesn't make sense in the context of Talos OS.
Especially the ones around sound devices, cd-roms and renaming the network interfaces to be predictable
"""

    [notes.sbc-rockpi4]
        title = "Support RockPi 4 variants A and B"
        description = """\
Talos now supports RockPi variants A and B in addition to RockPi 4C
"""

    [notes.dockeripv6]
        title = "IPv6 in Docker-based Talos Clusters"
        description="""\
The command `talosctl cluster create` now enables IPv6 by default for the Docker containers
created for Talos nodes. This allows to use IPv6 addresses in Kubernetes networking.

If `talosctl cluster create` fails to work on Linux due to the lack of IPv6 support,
please use the flag `--disable-docker-ipv6` to revert the change.
"""

    [notes.pod-security]
        title = "Pod Security Admission"
        description="""\
[Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) controller is enabled by default with the following policy:

```yaml
apiVersion: apiserver.config.k8s.io/v1
kind: AdmissionConfiguration
plugins:
- configuration:
    apiVersion: pod-security.admission.config.k8s.io/v1alpha1
    defaults:
      audit: restricted
      audit-version: latest
      enforce: baseline
      enforce-version: latest
      warn: restricted
      warn-version: latest
    exemptions:
      namespaces:
      - kube-system
      runtimeClasses: []
      usernames: []
    kind: PodSecurityConfiguration
  name: PodSecurity
  path: ""
```

The policy is part of the Talos machine configuration, and it can be modified to suite your needs.
"""

    [notes.x86_64]
        title = "x86-64 Architecture"
        description="""\
Talos is built for x86-64 architecture with support for [x86-64-v2 microarchitecture level](https://en.wikipedia.org/wiki/X86-64#Microarchitecture_levels),
so Talos no longer runs on processors supporting only baseline `x86-64` microarchitecture (before 2009).
"""

    [notes.apply-config]
        title = "Apply Config `--dry-run`"
        description="""\
The commands `talosctl apply-config`, `talosctl patch mc` and `talosctl edit mc` now support `--dry-run` flag.
If enabled it just prints out the selected config application mode and the configuration diff.
"""

    [notes.apply-config-try]
        title = "Apply Config `--mode=try`"
        description="""\
The commands `talosctl apply-config`, `talosctl patch mc` and `talosctl edit mc` now support the new mode called `try`.
In this mode the config change is applied for a period of time and then reverted back to the state it was before the change.
`--timeout` parameter can be used to customize the config rollback timeout.
This new mode can be used only with the parts of the config that can be changed without a reboot and can help to check that
the new configuration doesn't break the node.
Can be especially useful to check network interfaces changes that may lead to the loss of connectivity to the node.
"""

    [notes.network-device-selector]
        title = "Network Device Selector"
        description="""\
Add `deviceSelector` parameter to the `.machine.network.interfaces`, which can be used to select an interface using `kernelDriver`,
`hardwareAddress`, `busPrefix` or `pciid`.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"

    [make_deps.extras]
        variable = "EXTRAS"
        repository = "github.com/siderolabs/extras"
