# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "siderolabs/talos"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"
ignore_deps = ["github.com/coredns/coredns"]

# previous release
previous = "v1.9.0"

pre_release = true

preface = """
"""

[notes]
    [notes.updates]
        title = "Component Updates"
        description = """\
* Linux: 6.12.17
* CNI plugins: 1.6.2
* runc: 1.2.5
* containerd: 2.0.3
* etcd: 3.5.18
* Flannel: 0.26.4
* Kubernetes: 1.33.0-alpha.2

Talos is built with Go 1.24.0.
"""

    [notes.driver-rebind]
        title = "Driver Rebind"
        description = """\
Talos 1.10 now supports a new machine config document named `PCIDriverRebindConfig` that allows rebinding the driver of a PCI device to a different target driver.
See the [documentation](https://www.talos.dev/v1.10/reference/configuration/hardware/pcidriverrebindconfig/) for more information.
"""

    [notes.cgroupsv1]
        title = "cgroups v1"
        description = """\
Talos Linux no longer supports `cgroupsv1` when running in non-container mode.
The kernel argument `talos.unified_cgroup_hierarchy` is now ignored.
"""

    [notes.auditd]
        title = "auditd"
        description = """\
Kernel parameter `talos.auditd.disabled=1` can be used to disable Talos built-in `auditd` service.
"""

    [notes.kube-apiserver-authorization-config]
        title = "kube-apiserver Authorization Config"
        description = """\
When using `.cluster.apiServer.authorizationConfig` the user provided order for the authorizers is honoured and `Node` and `RBAC` authorizers are always added to the end if not explicitly specified.

Eg: If user provides only `Webhook` authorizer, the final order will be `Webhook`, `Node`, `RBAC`.

To provide a specific order for `Node` or `RBAC` explicitly, user can provide the authorizer in the order they want.

Eg:

```yaml
cluster:
  apiServer:
    authorizationConfig:
      - type: Node
        name: Node
      - type: Webhook
        name: Webhook
        webhook:
          connectionInfo:
            type: InClusterConfig
        ...
      - type: RBAC
        name: rbac
```

Usage of `authorization-mode` CLI argument will not support this form of customization.
"""

    [notes.iscsi-initiator-iqn]
        title = "iSCSI Initiator"
        description = """\
Talos now generates `/etc/iscsi/initiatorname.iscsi` file based on the node identity which is tied to the lifecycle of the node.
If using `iscsi-tools` extension, starting with Talos 1.10 would have a more deterministic IQN for the initiator node.
Make sure to update any iSCSI targets to use the new initiator IQN.

The iqn can be read by `talosctl read /etc/iscsi/initiatorname.iscsi`
"""

    [notes.nvme-nqn]
        title = "NVMe NQN"
        description = """\
Talos now generates `/etc/nvme/hostnqn` and `/etc/nvme/hostid` files based on the node identity which is tied to the lifecycle of the node.

The NQN can be read by `talosctl read /etc/nvme/hostnqn`
"""

    [notes.iso]
        title = "ISO"
        description = """\
Talos starting with 1.10 will have ISO's that will use GRUB only for legacy BIOS and systemd-boot for modern UEFI systems.
"""

    [notes.disk-image]
        title = "Disk Image"
        description = """\
Talos starting with 1.10 will have disk images that will use GRUB only for legacy BIOS and systemd-boot for modern UEFI systems.
On first boot Talos determines the boot method and will wipe the unused bootloader.

Secureboot disk-images will be sd-boot only.

For ARM64 imager will still generate GRUB bootloader for Talos < 1.10 and for Talos >= 1.10 all ARM64 boot assets will use systemd-boot.

Imager supports overwriting bootloader when generating a disk image via the Imager profile `output` option.

Eg:

```yaml
output:
  kind: image
  imageOptions:
    bootloader: sd-boot # supported options are sd-boot, grub, dual-boot
```

"""

    [notes.ethernet]
        title = "Ethernet"
        description = """\
Talos now provides `ethtool`-style Ethernet low-level configuration via `network/EthernetConfig` documents.
Current status of the interface can be read by `talosctl get ethernetstatus`.
"""

    [notes.toolchain]
        title = "Fully bootstrapped builds"
        description = """\
Talos 1.10 is built with a toolchain based on [[StageË£]](https://stagex.tools/), which is a project building fully bootstrapped software.
This change increases reproducibility, auditability and security of Talos builds.

This also changes Talos root filesystem structure for unified /usr, with other directories symlinking to /usr/bin and /usr/lib.
System extensions must move their directories accordingly for 1.10.
"""

    [notes.ingress-firewall]
        title = "Ingress Firewall"
        description = """\
Talos Ingress Firewall now filters access to Kubernetes NodePort services correctly.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"

    [make_deps.extras]
        variable = "EXTRAS"
        repository = "github.com/siderolabs/extras"
