# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "talos-systems/talos"
match_deps = "^github.com/(talos-systems/[a-zA-Z0-9-]+)$"

# previous release
previous = "v0.14.0"

pre_release = true

preface = """\
"""

[notes]

    [notes.applyconfig]
        title = "Apply Config Enhancements"
        description="""\
`talosctl apply/patch/edit` cli commands got revamped.
Separate flags `--on-reboot`, `--immediate`, `--interactive` were replaced
with a single `--mode` flag that can take the following values:
- `auto` new mode that automatically applies the configuration in immediate/reboot mode.
- `no-reboot` force apply immediately, if not possible, then fail.
- `reboot` force reboot with apply config.
- `staged` write new machine configuration to STATE, but don't apply it (it will be applied after a reboot).
- `interactive` starts interactive installer, only for `apply`.
"""

    [notes.updates]
        title = "Component Updates"
        description="""\
* Linux: 5.15.23
* Kubernetes: 1.23.3
* CoreDNS: 1.8.7
* etcd: 3.5.2
* containerd: 1.6.0
* runc: 1.1.0

Talos is built with Go 1.17.7
"""

    [notes.wipe]
        title = "Wipe System Kernel Parameter"
        description="""\
Added new kernel parameter `talos.experimental.wipe=system` which can help resetting system disk for the machine
and start over with a fresh installation.
See [Resetting a Machine](https://www.talos.dev/docs/v0.15/guides/resetting-a-machine/#kernel-parameter) on how to use it.
"""

    [notes.machine_config]
        title = "Machine Configuration"
        description="""\
Talos now preserves machine configuration as it was submitted to the node.
"""

    [notes.platforms]
        title = "Platform Support"
        description="""\
Talos now supports Oracle Cloud.

Platform network configuration was rewritten to avoid modifying Talos machine configuration.
Network configuration is performed independent of the machine configuration presence, so it works
even if Talos is booted in maintenance mode (without machine configuration is platform userdata).
"""

    [notes.sbcs]
        title = "SBC Support"
        description="""\
Talos now supports Jetson Nano SBC.
"""

    [notes.system_extensions]
        title = "System Extensions"
        description="""\
System extensions allow extending Talos root filesystem, which enables a set of different features, including custom
container runtimes, additional firmware, etc.

System extensions are only activated during Talos installation (or upgrade), and with system extensions installed, Talos
root filesystem is still immutable and read-only.

Please see [extensions repository](https://github.com/talos-systems/extensions) and [documentation](https://www.talos.dev/docs/v0.15/guides/system-extensions/) for more information.
"""

    [notes.patching]
        title = "Machine Configuration Patching"
        description="""\
`talosctl` commands which accept JSON patches (`gen config`, `cluster create`, `patch machineconfig`) now support multiple patches, loading patches
from files with `@file.json` syntax, and support loading from YAML format.
"""

    [notes.staticpods]
        title = "Static Pods in the Machine Configuration"
        description="""\
Talos now accepts static pod definitions in the `.machine.pods` key of the machine configuration.
Please note that static pod definitions are not validated by Talos.
Static pod definitions can be updated without a node reboot.
"""

    [notes.k8sversion]
        title = "Pinned Kubernets Version"
        description="""\
Command `talosctl gen config` now defaults to Kubernetes version pinning in the generate machine configuration.
Previously default was to omit explicit Kubernetes version, so Talos picked up the default version it was built against.
Old behavior can be achieved by specifiying empty flag value: `--kubernetes-version=`.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/talos-systems/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/talos-systems/pkgs"

    [make_deps.extras]
        variable = "EXTRAS"
        repository = "github.com/talos-systems/extras"
