# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "siderolabs/talos"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"
ignore_deps = ["github.com/coredns/coredns"]

# previous release
previous = "v1.12.0"

pre_release = true

preface = """
"""

[notes]
    [notes.updates]
        title = "Component Updates"
        description = """\
Linux: 6.18.5
containerd: 2.2.1
etcd: 3.6.7
CoreDNS: 1.13.2
Kubernetes: 1.35.0
Flannel CNI plugin: v1.9.0-flannel1
LVM2: 2_03_38
runc: 1.4.0
systemd: 259
cryptsetup: 2.8.3

Talos is built with Go 1.25.6.
"""

    [notes.external_volumes]
        title = "External Volumes"
        description = """\
Talos now supports virtiofs-based external volumes via the new
[ExternalVolumeConfig](https://www.talos.dev/v1.13/reference/configuration/block/externalvolumeconfig/)
document.

These virtiofs external volumes are not supported when SELinux is running
in enforcing mode.
"""

    [notes.procpidmem]
        title = "/proc/PID/mem Access Hardening"
        description = """\
A new kernel parameter `proc_mem.force_override=never` has been introduced by default to enhance system security
by preventing unwanted writes to protected process memory via `/proc/PID/mem`.
If the kernel parameter is removed, default behavior is restored, allowing access only if the process is traced.
"""

    [notes.pigz]
        title = "Container Image Decompression"
        description = """\
Talos now ships with `igzip` (amd64) and `pigz` (arm64) to speed up container image decompression.
"""

    [notes.imager]
        title = "Talos Imager Enhancements"
        description = """\
Talos imager now supports running rootless. `--privileged` and `-v /dev:/dev` are no longer required.
"""

    [notes.reproducible_images]
        title = "Reproducible Disk Images"
        description = """\
Talos disk images are now reproducible. Building the same version of Talos multiple times will yield
identical disk images.

Note: VHD and VMDK (Azure and VMware) images are not currently reproducible due to limitations in the underlying image creation tools.
Users verifying reproducible images should use raw images, verify checksums, and convert them to VHD/VMDK as needed.
"""

    [notes.vm]
        title = "VM Hot-Add Support"
        description = """\
Talos now includes udev rules to support hot-adding of CPUs in virtualized environments.
"""

    [notest.interactive-installer]
        title = "Interactive Installer Removal"
        description = """\
The interactive installer mode has been removed from `talosctl apply-config` (`--mode=interactive`).
It has been deprecated since Talos v1.12.0, and now fully removed.
The related `GenerateConfiguration` API method has also been removed.
Users are encouraged to use other installation methods, such as using pre-generated configuration files, or using Omni.
"""

    [notes.k8s_ssa]
        title = "Kubernetes server-side apply"
        description = """\
Talos now uses inventory backed server-side apply when applying bootsrap manifests (including `extraManifests` and `inlineManifests`).
Purging of unneeded manifests is automatically performed.
The switch and inventory backfill is automatic and no action is needed from the user.
"""

    [notes.talosctl_images_talos_bundle]
        title = "`talosctl images talos-bundle` can ignore reaching to the registry"
        description = """\
The `talosctl images talos-bundle` command now accepts optional `--ovelays` and `--extensions` flags.
If those are set to `false`, the command will not attempt to reach out to the container registry to fetch the latest versions and digests of the overlays and extensions.
"""

    [notes.images_k8s_bundle]
        title = "Talosctl images k8s-bundle subcommand accepts version parameter"
        description = """\
The `talosctl images k8s-bundle` command now accepts an optional version overrides arguments.
"""

    [notes.environment_config]
        title = "Environment Configuration Document"
        description = """\
A new `EnvironmentConfig` document has been introduced to allow users to specify environment variables for Talos components.
It replaces and deprecates the previous method of setting environment variables via the `.machine.env` field.

Multiple values for the same environment variable will replace previous values, with the last one taking precedence.

To remove an environment variable, remove it from the `EnvironmentConfig` document and restart the node.
"""

    [notes.kubespan]
        title = "KubeSpan Configuration"
        description = """\
A new `KubeSpanConfig` document has been introduced to configure KubeSpan settings.
It replaces and deprecates the previous method of configuring KubeSpan via the `.machine.network.kubespan` field.

The old configuration field will continue to work for backward compatibility.
"""

    [notes.extraArgs]
        title = "Extra Arguments accept slices in addition to strings"
        description = """\
Several Talos configuration fields that previously accepted single string values for extra arguments have been updated to accept slices of strings as well.
This includes fields such as `.cluster.apiServer.extraArgs`.

BREAKING: If you were relying on the resources EtcdConfigs, KubeletConfigs, ControllerManagerConfigs, SchedulerConfigs or APIServerConfigs, the protobuf format has changed from `map<string,string>` to `map<string,message>`.
"""

    [notes.serviceAccountIssuer]
        title = "Service Account Issuer configuration"
        description = """\
In API Server, passing extra args with `service-account-issuer` will append them after default value.
This allows easy migration, e.g. by changing `.cluster.controlPlane.endpoint` to new value, and keeping the old value in
`.cluster.apiServer.extraArgs["service-account-issuer"]`.
"""

    [notes.negativeMaxVolumeSize]
    title = "Negative Max Volume Size"
    description = """\
Negative max size represents the amount of space to be left free on the device, rather than the size the volume should consume.
For example:
    * a max size of "-10GiB" means the volume can grow to the available space minus 10GiB.
    * a max size of "-25%" means the volume can grow to the available space minus 25%.
"""

    [notes.resolver_config]
        title = "ResolverConfig"
        description = """\
The nameservers configuration in machine configuration now overwrites any previous layers (defaults, platform, etc.) when specified.
Previously a smart merge was performed to keep IPv4/IPv6 nameservers from lower layers if the machine configuration specified only one type.
"""

    [notes.probe_config]
        title = "ProbeConfig"
        description = """\
The TCPProbeConfig configuration document allows to configure TCP probes for network reachability checks.
This allows to define a custom connectivity condition.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
