# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "talos-systems/talos"
match_deps = "^github.com/(talos-systems/[a-zA-Z0-9-]+)$"

# previous release
previous = "v0.14.0"

pre_release = true

preface = """\
"""

[notes]

    [notes.applyconfig]
        title = "Apply Config Enhancements"
        description="""\
`talosctl apply/patch/edit` cli commands got revamped.
Separate flags `--on-reboot`, `--immediate`, `--interactive` were replaced
with a single `--mode` flag that can take the following values:
- `auto` new mode that automatically applies the configuration in immediate/reboot mode.
- `no-reboot` force apply immediately, if not possible, then fail.
- `reboot` force reboot with apply config.
- `staged` write new machine configuration to STATE, but don't apply it (it will be applied after a reboot).
- `interactive` starts interactive installer, only for `apply`.
"""

    [notes.updates]
        title = "Component Updates"
        description="""\
* Linux: 5.15.17
* Kubernetes: 1.23.3
* CoreDNS: 1.8.7
* containerd: 1.6.0-rc.0
* runc: 1.1.0

Talos is built with Go 1.17.6
"""

    [notes.wipe]
        title = "Wipe System Kernel Parameter"
        description="""\
Added new kernel parameter `talos.experimental.wipe=system` which can help resetting system disk for the machine
and start over with a fresh installation.
See [Resetting a Machine](https://www.talos.dev/docs/v0.15/guides/resetting-a-machine/#kernel-parameter) on how to use it.
"""

    [notes.machine_config]
        title = "Machine Configuration"
        description="""\
Talos now preserves machine configuration as it was submitted to the node.
"""

    [notes.platforms]
        title = "Platform Support"
        description="""\
Talos now supports Oracle Cloud.

Platform network configuration was rewritten to avoid modifying Talos machine configuration.
Network configuration is performed independent of the machine configuration presence, so it works
even if Talos is booted in maintenance mode (without machine configuration is platform userdata).
"""

    [notes.sbcs]
        title = "SBC Support"
        description="""\
Talos now supports Jetson Nano SBC.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/talos-systems/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/talos-systems/pkgs"

    [make_deps.extras]
        variable = "EXTRAS"
        repository = "github.com/talos-systems/extras"
