# commit to be tagged for new release
commit = "HEAD"

project_name = "Talos"
github_repo = "siderolabs/talos"
match_deps = "^github.com/((talos-systems|siderolabs)/[a-zA-Z0-9-]+)$"
ignore_deps = ["github.com/coredns/coredns"]

# previous release
previous = "v1.10.8"

pre_release = false

preface = """
"""

[notes]

    [notes.updates]
        title = "Component Updates"
        description = """\
Linux: 6.12.63
runc: 1.2.9
etcd: 3.5.26

Talos is built with Go 1.24.11.
"""

    [notes.etcd]
        title = "etcd Zombine Members"
        description = """\
See [this blog post](https://etcd.io/blog/2025/zombie_members_upgrade/) for more details.

This release includes an update to etcd v3.5.26 to ensure that upgrades to Talos v1.11 and later (which default to etcd v3.6) will not be blocked by the presence of zombine members in the etcd cluster.

Please note that etcd version can also be configured via the machine configuration with any version of Talos Linux.
"""

[make_deps]

    [make_deps.tools]
        variable = "TOOLS"
        repository = "github.com/siderolabs/tools"

    [make_deps.pkgs]
        variable = "PKGS"
        repository = "github.com/siderolabs/pkgs"
