{{- partial "head" . -}}

<body>

{{- partial "navbar" . -}}

{{- partial "sidebar" . -}}

    <div class="container">
        <div class="content">
            <div class="row ">
                <div class="column column-10">
                    {{ if .NextInSection }}
                    <a class="navigation navigation-previous" href="{{.NextInSection.Permalink}}">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    {{ end }}
                </div>
                <div class="column document">
                    <section class="document">
                        <h1 class="title">{{ .Title }}</h1>
                        <p>{{.Content}}</p>
                    </section>
                </div>
                <div class="column column-10">
                    {{ if .PrevInSection }}
                    <a class="navigation navigation-next" href="{{.PrevInSection.Permalink}}">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

{{ partial "footer" . }}

</body>
