object {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
}

.header {
    margin-top: 6rem;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
}

.primary {
    height: 500px;
    width: 500px;
    margin: auto;
}

.logo-primary {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

a {
    color: #448FB0;
}

a:hover {
    color: #74b8d6;
}

.button {
    background-color: #448FB0;
    border: 0;
}

.button:hover {
    background-color: #74b8d6;
    border: 0;
}

hr {
    margin: 1rem;
}

pre {
    border-left: 0.3rem solid #448FB0;
    border-left-color: #448FB0;
}

.sidebar-link .logo {
    display: block;
    height: 184px;
    width: 184px;
    margin: auto;
    width: 60%;
}

.content {
    margin-left: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document {
    overflow-y: scroll;
    max-height: 100vh;
    min-height: 100vh;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f4f5f6;
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 999;
}

.sidebar-link {
    display: block;
    color: #606c76;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-right: 0px;
    line-height: 1.0rem;
    padding: 14px;
    text-decoration: none;
    width: 100%;
}

.sidebar-list {
    display: block;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-item {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.sidebar .button {
    font-size: 12px;
}

.github-actions{
    text-align: center;
}

.copyright {
    color: #86929d;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.nav {
    /* position: fixed;
    top: 0;
    bottom: 0; */
    width: 4rem;
    font-size: 4.6rem;
    height: 100%;
    cursor: pointer;
    display: table;
    text-align: center;
}

.nav > i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-height: 100vh;
    min-height: 100vh;
}

.nav.nav-prev {
    float: left;
}

.nav.nav-next {
    float: right;
}

.title {
    text-align: center;
}

.footer {
    flex-shrink: 0;
    margin-left: 400px;
}

.document {
    padding: 50px;
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {}
