@import url("dimensions.css");
@import url("colors.css");
.sidebar {
    margin: 0;
    padding: 0;
    width: var(--content-margin-left);
    background-color: var(--menu-color);
    position: fixed;
    height: calc(100% - var(--header-height));
    overflow: auto;
    z-index: var(--menu-z-index);
}

.sidebar-link {
    display: block;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.0rem;
    padding: 12px;
    width: 100%;
}

.sidebar-link:before {
    content: "\203A";
    padding-right: 4px;
    font-size: 15px;
}

.sidebar-link.sidebar-link-parent {
    font-weight: normal;
}

.sidebar-list {
    display: none;
    list-style: none;
}

.sidebar-list.parent {
    display: block;
    margin-left: 75px;
}

.sidebar-list .active {
    display: block;
}

.sidebar-item {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}

.sidebar-link.active {
    color: var(--main-highlight-color);
}

.sidebar .button {
    font-size: 12px;
    margin: 4px;
}

.button-group {
    display: flex;
}

.button-group-center {
    align-content: center;
    justify-content: center;
}
