{{ frontmatter .Root.Type .Root.Description }}

{{ block "struct" dict "Struct" .Root "Level" 1 "Name" .Root.Type "Path" .Root.Type  "Types" .Types }}
{{ if gt .Level 1 }}{{ repeat "#" (min .Level 6) }} {{ .Name }} {#{{ .Path }}}{{ end }}

{{ if and .Struct.Description (gt .Level 1) -}}
{{ .Struct.Description }}
{{ end }}

{{ range $example := .Struct.Examples }}
{{ yaml $example.GetValue $.Path }}
{{ end }}

{{ if .Struct.Fields -}}
| Field | Type | Description | Value(s) |
|-------|------|-------------|----------|
{{ range $field := $.Struct.Fields -}}
{{ if $field.Name -}}
|`{{ $field.Name }}` |
    {{- $type := index $.Types $field.Type -}}
        {{- if $type -}}
            <a href="#{{ $.Path }}.{{ $field.Name }}">{{ $field.Type }}</a>
        {{- else -}}
            {{- $type := index $.Types (trimPrefix $field.Type "[]") -}}
            {{- if $type -}}
                <a href="#{{ $.Path }}.{{ $field.Name }}.">{{ $field.Type }}</a>
            {{- else -}}
                {{- $type := index $.Types (trimPrefix $field.Type "map[string]") -}}
                {{- if $type -}}
                    <a href="#{{ $.Path }}.{{ $field.Name }}.-">{{ $field.Type }}</a>
                {{- else -}}
                    {{ $field.Type }}
                {{- end -}}
            {{- end -}}
        {{- end }} |
{{- fmtDesc $field.Description }} {{ with $field.Examples }}<details><summary>Show example(s)</summary>{{ range . }}{{ yaml .GetValue (printf ".%s" $field.Name) }}{{ end }}</details>{{ end }} |
{{- range $value := $field.Values }}`{{ $value }}`<br />{{ end }} |
{{ end -}}
{{ end }}
{{ end }}

{{ range $field := .Struct.Fields }}
    {{- $struct := index $.Types $field.Type -}}
    {{- if $struct -}}
        {{ template "struct" dict "Struct" $struct "Level" (add $.Level 1) "Name" $field.Name "Types" $.Types "Path" (printf "%s.%s" $.Path $field.Name) }}
        {{- else -}}
            {{- $struct := index $.Types (trimPrefix $field.Type "[]") -}}
            {{- if $struct -}}
                {{ template "struct" dict "Struct" $struct "Level" (add $.Level 1) "Name" (printf "%s[]" $field.Name) "Types" $.Types "Path" (printf "%s.%s." $.Path $field.Name) }}
            {{- else -}}
                {{- $struct := index $.Types (trimPrefix $field.Type "map[string]") -}}
                {{- if $struct -}}
                    {{ template "struct" dict "Struct" $struct "Level" (add $.Level 1) "Name" (printf "%s.*" $field.Name) "Types" $.Types "Path" (printf "%s.%s.-" $.Path $field.Name) }}
                {{- end -}}
            {{- end -}}
    {{- end -}}
{{ end }}

{{ end }}
