<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Autonomy</title>
    <meta name="description" content="">
    <meta name="author" content="andrew.rynhard@talos-systems.com">

    <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Fira+Mono|Roboto:300" rel="stylesheet">

    <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}img/favicon.png">

    <!-- Javascript
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/search.js"></script>

    <!-- CSS
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/milligram.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
</head>
