{{ $context := . }}
{{ if .Site.Params.Taxonomy.taxonomyCloud }}
	{{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyCloud }}
		{{ if isset $.Site.Params.Taxonomy "taxonomycloudtitle" }}
			{{ $.Scratch.Set "title" ( index $.Site.Params.Taxonomy.taxonomyCloudTitle $index ) }}
		{{ else }}
			{{ $.Scratch.Set "title" ( humanize $taxo ) }}
		{{ end }}
		{{ partial "taxonomy_terms_cloud.html" (dict "context" $context "taxo" $taxo "title" ( $.Scratch.Get "title") ) }}
	{{ end }}
{{ else }}
	{{ range $taxo, $taxo_map := .Site.Taxonomies }}
		{{ partial "taxonomy_terms_cloud.html" (dict "context" $context "taxo" $taxo "title" ( humanize $taxo ) ) }}
	{{ end }}
{{ end }}