{{ $alpineVersion := site.Params.alpine_js_version }}
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v{{ $alpineVersion }}/dist/alpine.min.js" defer></script>

<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.2/anchor.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/jquery.matchHeight.js"></script>
<script src="/js/scripts.js"></script>

<script>
  anchors.options = {
    icon: '#'
  }

  document.addEventListener('DOMContentLoaded', function (event) {
    anchors.add('.content h1, .content h2, .content h3, .content h4, .content h5, .content h6');
  });
</script>

{{/* Anchor link scroll offset */}}
<script>
  const navbarHeight = document.getElementsByClassName('navbar')[0].offsetHeight;
  const extraPadding = 15;
  const navbarOffset = -1 * (navbarHeight + extraPadding);
  var shiftWindow = function () { scrollBy(0, navbarOffset) };
  window.addEventListener("hashchange", shiftWindow);
  window.addEventListener("pageshow", shiftWindow);
  function load() { if (window.location.hash) shiftWindow(); }
</script>

{{/* Algolia search */}}
{{ $currentVersion := index (split .Page.File.Dir "/" ) 1 }}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
  docsearch({
    apiKey: '3c4082e162be342fa20a794144b4a479',
    indexName: 'talos',
    inputSelector: '#search-input',
    algoliaOptions: { 'facetFilters': ["version:{{ $currentVersion }}"] },
    debug: false
  });
</script>
