{{ $versions := site.Params.versions }}
{{ $latest   := index $versions 0 }}
{{ $docsUrl  := printf "docs/%s" $latest | relURL }}
<nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-arrowless" href="{{ $docsUrl }}">
      <span class="has-text-weight-bold">
        Docs
      </span>
      <span class="icon has-text-secondary">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </span>
    </a>

    <div class="navbar-dropdown">
      {{ range $versions }}
      {{ $link     := printf "docs/%s" . | relURL }}
      {{ $isLatest := eq . $latest }}
      <a class="navbar-item" href="{{ $link }}">
        {{ . }}{{ if $isLatest }} (<strong>latest</strong>){{ end }}
      </a>
      {{ end }}
    </div>
  </div>
</nav>
